# Dépendances
node_modules/

# Build de production
dist/
dist-ssr/

# Files locaux
*.local
.env
.env.*

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Éditeur / OS
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db

# Cache
.cache/
*.tsbuildinfo
